.conteudo {
    background-image: url('../../../assets/images/pages/comunidade--fotos/imgm2005_.jpg');
}

.p-comunidade--publicacoes-foto1 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1587-manuscrito.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto2 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1610-manuscrito.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto3 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1700-1730.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto4 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1833.jpg');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto5 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1853.jpg');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto6 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1864.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto7 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/Les-cotes-du-bresil.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto8 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1872_.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto9 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1874_.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto10 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/23-07-1880-gazeta-do-norte-naufragio-desconhecido-pecem-recorte.jpg.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto11 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1882_.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto12 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1887.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto13 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1888.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto14 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1891.jpg');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto15 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1893.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto16 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/17-19-1897-jornal-a-republica-naufragio-do-assumpcao.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto17 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/03-03-1928-o-ceara-naufragio-do-alcantara.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto18 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1949.png');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto19 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/1951.jpg');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto20 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/doc_1.jpeg');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto21 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/28-04-1964-o_nordeste-tromba-daguano-pecem-destaque2.jpeg');
    height: 100%;
    background-size: cover;
}

.p-comunidade--publicacoes-foto22 {
    background-image: url('../../../assets/images/pages/comunidade--publicacoes/2016.jpg');
    height: 100%;
    background-size: cover;
}

.comunidade-publicacoes-descricao-foto{
    color: black;
}

