<section class="citacao">
    <strong>
        A história do Porto do Pecém não começa no dia de sua inauguração, mas no suor de gerações que lutaram por sua
        viabilização
    </strong>
</section>

<div class="contato">
    <div class="contato-copyrigth--inside">
        <div class="sobre">
            <h2>Sobre</h2>
            <p>O Museu Virtual do Pecém é um resgate da história do Terminal Portuário do Pecém e, paralelamente,
                cruza-se com a história da região e do Ceará. Arquivos de fotos, descrições, documentos e outros
                itens estão disponíveis aqui.</p>
        </div>
        <div class="navegue">
            <h2>Navegação</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Entre em Contato</a></li>
            </ul>
        </div>
        <div class="logos">
            <div class="logo-cipp"></div>
            <div class="roterdam-governo">
                <div class="logo-roterdam"></div>
                <div class="logo-governo-ceara"></div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="contato-copyrigth--inside">
        <p>Copyright ©. Dezembro. 2022. Complexo do Pecém. Todos os direitos reservados.</p>
        <p>Responsável: Márcio Mamede</p>
    </div>
</div>