<div class="navegacao-top">
    <a class="logo-pecem" href="https://www.complexodopecem.com.br/"></a>
    <input type="checkbox" name="chk" id="chk" style="display: none;">
    <label class="lbl-menu" for="chk">
        <div class="hamburger-menu"></div>
    </label>
</div>
<ul class="menu">
    <li><a class="item" href="index.html">Home</a></li>
    <li><a class="item" href="missao.html">Missão, objetivo e valores</a></li>
    <li>
        <p class="item" tabindex="0">Cumunidade</p>
        <ul class="submenu">
            <li><a class="subitem" tabindex="0" href="comunidade--documentos.html">Documentos</a></li>
            <li><a class="subitem" tabindex="0" href="comunidade--historia.html">Histórias</a></li>
            <li><a class="subitem" tabindex="0" href="comunidade--publicacoes.html">Publicações</a></li>
            <li><a class="subitem" tabindex="0" href="comunidade--fotos.html">Fotos</a></li>
            <li><a class="subitem" tabindex="0" href="comunidade--videos.html">Vídeos</a></li>
        </ul>
    </li>
    <li>
        <p class="item" tabindex="0">História portuária do Pecém</p>
        <ul class="submenu">
            <li><a class="subitem" tabindex="0" href="historia--publicacoes.html">Publicações portuárias</a></li>
            <li><a class="subitem" tabindex="0" href="historia--linha.html">Linha do tempo</a></li>
            <li><a class="subitem" tabindex="0" href="historia--propagandas.html">Propagandas e afins</a></li>
        </ul>
    </li>
    <li>
        <p class="item" tabindex="0">Acervo físico</p>
        <ul class="submenu">
            <li><a class="subitem" tabindex="0" href="acervo--documentos.html">Documentos</a></li>
            <li><a class="subitem" tabindex="0" href="acervo--objetos.html">Objetos</a></li>
        </ul>
    </li>
    <li>
        <p class="item" tabindex="0">Porto do Pecém</p>
        <ul class="submenu">
            <li><a class="subitem" tabindex="0" href="porto--fotos.html">Fotos da obra</a></li>
            <li><a class="subitem" tabindex="0" href="porto--registros.html">Registros históricos</a></li>
            <li><a class="subitem" tabindex="0" href="porto--navio.html">Navio do Pecém</a></li>
            <li><a class="subitem" tabindex="0" href="porto--trajetoria.html">Trajetória portuária</a></li>
            <li><a class="subitem" tabindex="0" href="porto--videos.html">Vídeos</a></li>
            <li><a class="subitem" tabindex="0" href="porto--porto.html">Porto do século XIX</a></li>
        </ul>
    </li>
    <li>
        <p class="item" tabindex="0">Complexo industrial</p>
        <ul class="submenu">
            <li><a class="subitem" tabindex="0" href="complexo--fotos.html">Fotos</a></li>
        </ul>
    </li>
</ul>