.conteudo{
    background-image: url('../../../assets/images/pages/historia--propagandas/Nova\ ponte\ de\ enbarque\ Ceará\ imagem\ de\ fundo.png');
}

.p-historia--publicacoes-foto1 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1867-carta-nautica-litoral-ceara.jpg');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos2 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1875.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos3 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/29-07-1887-projeto-do-novo-porto-defortaleza-revista-the-engineer-univtecnologica-da-cracovia.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos4 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/27-05-1901-jornal-a-republica-projeto-descarregador-de-navios-porto-doceara-vf.jpg');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos5 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1931.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos6 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1932.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos7 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1933.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos8 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1940.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos9 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/1950.png');
    height: 100%;
    background-size: cover;
}

.p-historia--publicacoes-fotos10 {
    background-image: url('../../../assets/images/pages/historia--publicacoes/2007.png');
    height: 100%;
    background-size: cover;
}

