.conteudo {
    background-image: url('../../../assets/images/pages/comunidade--fotos/imgm2005_.jpg');
}

.descricao{
    padding: var(--padding-gap) 0;
}

.page-c--v-container div{
    padding: var(--padding-gap) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-c--v-container video{
    box-shadow: 0 0 20px black;
}