.conteudo {
    background-image: url('../../../assets/images/pages/complexo--fotos/Gemini_Generated_Image_gjvxs5gjvxs5gjvx.png');
    background-position: center;
}

.cp--f-descricao {
    padding: var(--padding-gap) 0;
}